<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{css/default.css}"
          href="../css/default.css" rel="stylesheet">
    <title>도서 목록</title>
</head>
<body>

<div class="container" style="max-width: 600px">

    <div class="py-5 text-center">
        <h2>도서 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addBook.html'"
                    th:onclick="|location.href='@{/basic/bookList/add}'|"
                    type="button">도서 등록
            </button>
        </div>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>도서 ID</th>
                <th>도서 제목</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <!--      모델에 있는 book 꺼내기      -->
            <tr th:each="book : ${bookStorage}">
                <td th:text="${book.id}">도서 ID</td>
                <td><a href="bookDetail.html" th:href="@{|/basic/bookList/${book.id}|}" th:text="${book.title} ">도서 제목</a></td>
                <td th:text="${book.quantity}">10</td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

</body>
</html>